<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row"  >
    
    <button mat-button (click)="drawer.toggle()">
      <mat-icon class="icon-1_5x">menu</mat-icon>
    </button>

    <button mat-button routerLink="/" routerLinkActive="router-link-active">
      <mat-icon class="icon-1_5x">home</mat-icon>
    </button>

   <!--  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
      <span fxHide fxShow.xs>FX: XS</span>
      <span fxHide fxShow.sm>FX: SM</span>
      <span fxHide fxShow.md>FX: MD</span>
      <span fxHide fxShow.lg>FX: LG</span>
      <span fxHide fxShow.xl>FX: XL</span>
    </div> -->

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/page1" routerLinkActive="router-link-active no-border">About</button>
      <button mat-button routerLink="/page2" routerLinkActive="router-link-active no-border">What W</button>
      <button mat-button routerLink="/page3" routerLinkActive="router-link-active no-border">Page 3</button>
      <button mat-button routerLink="/page4" routerLinkActive="router-link-active no-border">Page 4</button>
      <button mat-button routerLink="/page5" routerLinkActive="router-link-active no-border">Page 5</button>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <div fxLayout="column">
        <br>
        <button mat-button routerLink="/page1" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_1</mat-icon>Page 1</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/page2" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_2</mat-icon>Page 2</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/page3" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_3</mat-icon>Page 3</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/page4" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_4</mat-icon>Page 4</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/page5" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_5</mat-icon>Page 5</button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>

    <!--PAGES-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>